django
djoser
social-auth-app-django
django-phonenumber-field[phonenumbers]
pillow
django-countries
djangorestframework-simplejwt
djangorestframework
drf-spectacular
drf-spectacular[sidecar]
django-celery-results
django-celery-beat
django-filter
python-json-logger
drf-extra-fields
psycopg2-binary
python-dotenv
celery
redis
django-debug-toolbar
black
flake8
requests
coreapi
gunicorn
pydotplus
graphviz
whitenoise
python-decouple
dj-database-url
django-cors-headers
django-extensions
django-tenants

    

