django
django-allauth
django-phonenumber-field[phonenumbers]
pillow
django-countries
djangorestframework-simplejwt
djangorestframework
django-cors-headers
drf-spectacular
drf-spectacular[sidecar]

psycopg2-binary
python-dotenv
celery
redis
rabbitMQ

django-debug-toolbar
black
flake8
requests
coreapi
gunicorn
pydotplus
graphviz


