django
djoser
social-auth-app-django
django-phonenumber-field[phonenumbers]
pillow
django-countries
djangorestframework-simplejwt
djangorestframework
django-cors-headers
drf-spectacular
drf-spectacular[sidecar]
django-celery-results
django-celery-beat
django-filter
python-json-logger

psycopg2-binary
python-dotenv
celery
redis
rabbitMQ

django-debug-toolbar
black
flake8
requests
coreapi
gunicorn
pydotplus
graphviz


